body {
	background: #FAF7F0;
}
.btn {
	background: #D2DAFF;
	border: none;
	border-radius: 5px;
	font-size: 30px;
	font-family: 'Dancing Script', cursive;
}
#container {
	display: flex;
	justify-content: center;
}
#pictures {
	width: 500px;
	border-radius: 5px;
}